<!DOCTYPE html>
<html manifest="//rawgit.com/TristanCavelier/apps/master/app/code-editor/manifest.appcache">
  <head>
    <meta charset="utf-8" />
    <title>Code editor</title>
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1" />
    <link rel="stylesheet" href="//rawgit.com/TristanCavelier/apps/master/app/code-editor/dependency-concatenation.css" />
    <script src="//rawgit.com/TristanCavelier/apps/master/app/code-editor/dependency-concatenation.js"></script>
    <script src="//rawgit.com/TristanCavelier/apps/master/lib/toolbox.js"></script>
    <script src="//rawgit.com/TristanCavelier/apps/master/lib/codemirror-keymap-krx.js"></script>
    <link rel="stylesheet" href="//rawgit.com/TristanCavelier/apps/master/app/code-editor/app.css" />
    <script src="//rawgit.com/TristanCavelier/apps/master/app/code-editor/app.js"></script>
  </head>
  <body>
  </body>
</html>
